<div class="description">	
<pre>Boxes: continuously generates 2 random colours in the specified interval time. 
</pre>
<pre>On the left side there is the SVG image which contains over 1500 boxes each one with 2 properties:
The border and the fill color.
On the right side, there is the boxes-manager composed of 3 parts:
 1. Remote control: Set´s up the interval time that the data is refreshed. It is in miliseconds (ms).
 2. The logger: Logs the events every time new data is received.
 3. Statistics: Registers the number times the 2 random functions return the same colour. 
</pre>
</div>