<div ng-controller="sumManagerCtrl">
	<div class="row">
	  <div class="col-md-6 remote-control-container">  
	  	<div class="row">
		  	<button class="col-xs-4 custom-button-control" ng-click="startPulling()"><img src="/app/images/buttons/play-20.png"/></button>
		    <button class="col-xs-4 custom-button-control" ng-click="stopPulling()"><img src="/app/images/buttons/stop-20.png"/></button>
		</div>
	  </div>
	  <div class="col-md-6 remote-control-container">	
	  	<div class="row">
		  <input ng-model="timeInterval" type="text" class="form-control col-xs-5" id="ms-setter"required autofocus>
		  <button class="col-xs-4 custom-button-control" ng-click="updateInterval(timeInterval)"><img src="/app/images/buttons/sinchronize-20.png"/></button>		    
	  	</div>
	  </div>
	</div>  
	<div class="row">
	  <div class="logger-sum-container gray-cool-border">
		{{ loggerData[0] }} </br> {{ loggerData[1] }} </br> {{ loggerData[2] }} </br>{{ loggerData[3] }} </br> {{ loggerData[4] }} </br> {{ loggerData[5] }} </br>{{ loggerData[6] }} </br> {{ loggerData[7] }} </br> {{ loggerData[8] }} </br> {{ loggerData[9] }} </br> {{ loggerData[10] }} </br> {{ loggerData[11] }} </br>{{ loggerData[12] }}
	  </div>
	</div>  
	<div class="row">
	  <div class="statistics-sum-container gray-cool-border"> <!--ng-Controller="ProgressDemoCtrl"-->
	  	<div class="bars-container" style="text-align:center;">
	  	<pre style="font-weight:bold;">Random statistics</pre>  	  	
  	  	<div class="row"><div class="col-xs-1" style="margin:5px;font-weight:bold;">0</div><progressbar style="margin:5px;" value="operationPercentages.0"><b>{{ operationPercentages[0]}}%</b></progressbar></div>
  	  	<div class="row"><div class="col-xs-1" style="margin:5px;font-weight:bold;">1</div><progressbar style="margin:5px;" value="operationPercentages.1"><b>{{ operationPercentages[1]}}%</b></progressbar></div>
  	  	<div class="row"><div class="col-xs-1" style="margin:5px;font-weight:bold;">2</div><progressbar style="margin:5px;" value="operationPercentages.2"><b>{{ operationPercentages[2]}}%</b></progressbar></div>
  	  	<div class="row"><div class="col-xs-1" style="margin:5px;font-weight:bold;">3</div><progressbar style="margin:5px;" value="operationPercentages.3"><b>{{ operationPercentages[3]}}%</b></progressbar></div>
  	  	<div class="row"><div class="col-xs-1" style="margin:5px;font-weight:bold;">4</div><progressbar style="margin:5px;" value="operationPercentages.4"><b>{{ operationPercentages[4]}}%</b></progressbar></div>
  	  	<div class="row"><div class="col-xs-1" style="margin:5px;font-weight:bold;">5</div><progressbar style="margin:5px;" value="operationPercentages.5"><b>{{ operationPercentages[5]}}%</b></progressbar></div>
  	  	<div class="row"><div class="col-xs-1" style="margin:5px;font-weight:bold;">6</div><progressbar style="margin:5px;" value="operationPercentages.6"><b>{{ operationPercentages[6]}}%</b></progressbar></div>
  	  	<div class="row"><div class="col-xs-1" style="margin:5px;font-weight:bold;">7</div><progressbar style="margin:5px;" value="operationPercentages.7"><b>{{ operationPercentages[7]}}%</b></progressbar></div>
	  	</div>
	  </div>	
	</div>  
</div>