<div class="description">	
<pre>Sum is a system that generates 8 random numbers in the specified interval time and performs the adition.
</pre>
<pre>On the left side there is the SVG image which contains 3 adders
On the right side, there is the Simulator Manager composed of 3 parts:
 1. Remote control: Controls the demo. Set´s up the interval time the data is refreshed (ms).
 2. The logger: Logs every single event.
 3. Statistics: How Random is an adition of 6 numbers after applying the MOD 8 to the result? 
</pre>
</div>